# Build output
/out
/bin
/dist

# mac hidden files
.DS_Store

# Eclipse files
.classpath
.project
.settings
/build
/build-lib
src/.DS_Store
src/.DS_Store

#output from running xml files in eclpise

*.log
*.tree
*.state
*.trees
